<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<ul class="nav nav-pills">
			  <li role="presentation"><a href="/">Home</a></li>
			  <li role="presentation"><a href="/gallery">Shop</a></li>
			  <li role="presentation" class="active"><a href="/about">About</a></li>
			  <li role="presentation"><a href="/contact">Contact</a></li>
		  </ul>
		</div>
		<div class="col-md-12 text-center">
			<strong><p id="txt"></p></strong>
		</div>
		<div class="col-md-12 text-center">
			<form id="search_form">
		  	<img src="img/sc.png">
				<input id="search" placeholder="Type here to play..." />
				<input id="smit" type="submit" value="Play" />
			</form>
			<h6 id="title"><!-- Soundcloud song --></h6>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12 col-xs-12 text-center">
		<h1 class="about"> 
			Downtown Lover was launched in 2016 by New York native, Anatoly Kirichenko. The brand reflects ideas inspired by downtown movements, cultures and symbols. Drawing both from grunge and couture fashion, Kirichenko sought to design a brand that most any New Yorker could identify with.
		</h1>
		<h1>About | DTL </h1>
	</div>
</div>