	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<ul class="nav nav-pills">
				  <li role="presentation"><a href="/">Home</a></li>
				  <li role="presentation"><a href="/gallery">Shop</a></li>
				  <li role="presentation" class="active"><a href="/about">About</a></li>
				  <li role="presentation"><a href="/contact">Contact</a></li>
			  </ul>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-xs-12 text-center">
			<h1 class="about"> 
				Anatoly's backstory - how he came up with the idea for Downtown Lover; How he chose the name - The inspiration for his line (artists, events, peers) The clothing line is expanding in XYZ ways - the lifestyle portion of the company is extensive - CDG, Supreme, Stussy etc -  
				<br> 
				Gia Kuan co-creator - inspirations (brands, ppl, places, experiences)
				<br>
				Press - 

			</h1>
			<h1>About | DTL </h1>
		</div>
	</div>