<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<ul class="nav nav-pills">
			  <li role="presentation"><a href="/">Home</a></li>
			  <li role="presentation" class="active"><a href="/gallery">Shop</a></li>
			  <li role="presentation"><a href="/about">About</a></li>
			  <li role="presentation"><a href="/contact">Contact</a></li>
		  </ul>
		</div>
		<div class="col-md-12 text-center">
		<br/>
			<form id="search_form">
			  <img src="img/sc.png">
  			<input id="search" placeholder="Type here to play..." />
  			<input id="smit" type="submit" value="Play" />
  		</form>
  		<h6 id="title"><!-- Soundcloud song --></h6>
  	</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-4 center">
			<img src="img/swim.png" class="shop">
		</div>
		<div class="col-sm-4 center">
			<img src="img/rooftop.png" class="shop">
		</div>
		<div class="col-sm-4 center">
			<img src="img/text.png" class="shop">
		</div>
	</div>

	<div class="row">
		<div class="col-sm-4 center">
			<img src="img/gallery5.png" class="shop"/>
		</div>
		<div class="col-sm-4 center">
			<img src="img/gallery4.png" class="shop"/>
		</div>
		<div class="col-sm-4 center">
			<img src="img/gallery8.png" class="shop"/>
		</div>
	</div>

	<div class="row">		
		<div class="col-sm-4 center">
			<img src="img/DLsticker.png" class="shop"/>
		</div>
		<div class="col-sm-4 center">
			<img src="img/DL-logo2.png" class="shop">
		</div>
		<div class="col-sm-4 center">
			<img src="img/gallery3.png" class="shop">
		</div>
	</div>
</div>