<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <ul class="nav nav-pills">
        <li role="presentation"><a href="/">Home</a></li>
        <li role="presentation" class="active"><a href="/gallery">Shop</a></li>
        <li role="presentation"><a href="/about">About</a></li>
        <li role="presentation"><a href="/contact">Contact</a></li>
      </ul>
    </div>
    <div class="col-md-12 text-center">
      <p id="txt"></p>
    </div>
    <div class="col-md-12 text-center">
      <form id="search_form">
        <a href="https://soundcloud.com/thedev-4"><img src="icons/sc.png"></a>
        <input id="search" placeholder="Type here to play..." />
        <input id="smit" type="submit" value="Play" />
      </form>
      <h6 id="title"><!-- Soundcloud song --></h6>
    </div>
    <div class="col-md-12 text-center">
			<h1>Shop</h1>
		</div>
  </div>
  <div class="row">
    <div class="col-sm-4 center">
      <figure>
        <a href="">
          <img src="img/swim.png" class=bottomIMG" alt="Thumb" width="300" height="300" />
          <figcaption>
            <div>
              Product # 1
            </div>
          </figcaption>
        </a>
      </figure>
    </div>
    <div class="col-sm-4 center">
      <figure>
        <a href="">
          <img src="img/rooftop.png" class=bottomIMG" alt="Thumb" width="300" height="300" />
          <figcaption>
            <div>
              Product # 2
            </div>
          </figcaption>
        </a>
      </figure>
    </div>
    <div class="col-sm-4 center">
      <figure>
        <a href="">
          <img src="img/text.png" class=bottomIMG" alt="Thumb" width="300" height="300" />
          <figcaption>
            <div>
              Product # 3
            </div>
          </figcaption>
        </a>
      </figure>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 center">
      <figure>
        <a href="">
          <img src="img/gallery5.png" class=bottomIMG" alt="Thumb" width="300" height="300" />
          <figcaption>
            <div>
              Product # 4
            </div>
          </figcaption>
        </a>
      </figure>
    </div>
    <div class="col-sm-4 center">
      <figure>
        <a href="">
          <img src="img/gallery4.png" class=bottomIMG" alt="Thumb" width="300" height="300" />
          <figcaption>
            <div>
              Product # 5
            </div>
          </figcaption>
        </a>
      </figure>
    </div>
    <div class="col-sm-4 center">
      <figure>
        <a href="">
          <img src="img/gallery8.png" class=bottomIMG" alt="Thumb" width="300" height="300" />
          <figcaption>
            <div>
              Product # 6
            </div>
          </figcaption>
        </a>
      </figure>
    </div>
  </div>

  <div class="row">   
    <div class="col-sm-4 center">
      <figure>
        <a href="">
          <img src="img/DLsticker.png" class=bottomIMG" alt="Thumb" width="300" height="300" />
          <figcaption>
            <div>
              Product # 7
            </div>
          </figcaption>
        </a>
      </figure>
    </div>
    <div class="col-sm-4 center">
      <figure>
        <a href="">
          <img src="img/DL-logo2.png" class=bottomIMG" alt="Thumb" width="300" height="300" />
          <figcaption>
            <div>
              Product # 8
            </div>
          </figcaption>
        </a>
      </figure>
    </div>
    <div class="col-sm-4 center">
      <figure>
        <a href="">
          <img src="img/gallery3.png" class=bottomIMG" alt="Thumb" width="300" height="300" />
          <figcaption>
            <div>
              Product # 9
            </div>
          </figcaption>
        </a>
      </figure>
    </div>
  </div>
</div>