<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<!-- bootstrap -->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jquery -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

	<link rel="stylesheet" type="text/css" href="css/default.css">

	<script src="js/main.js"></script>
	<title> Shop </title>
</head>
<body>
	<div class="container">
		<div class="row" class="navbar">
		<div class="row">
			<div class="col-sm-4 center">
				<img src="img/gallery5.png" class="Shop"/>
			</div>
			<div class="col-sm-4 center">
				<img src="img/gallery4.png" class="Shop"/>
			</div>
			<div class="col-sm-4 center">
				<img src="img/gallery8.png" class="Shop"/>
			</div>
		</div>
		<div class="row">		
			<div class="col-sm-4 center">
				<img src="img/DLsticker.png" class="Shop"/>
			</div>
			<div class="col-sm-4 center">
				<img src="img/DL-logo2.png" class="Shop">
			</div>
			<div class="col-sm-4 center">
				<img src="img/gallery3.png" class="Shop">
			</div>
		</div>
		</div>
	</div>
</body>
</html>