body {

}

#logo{
	width:350px;
	display: block;
	margin: auto;
	padding-top: 25px;
}
.bottomIMG {
	width: 250px;
	border: 2px solid black;
}
.center{
	text-align: center;
	padding-bottom: 20px;
}

ul.nav {
	display: inline-block;
	padding-top: 20px;
}

.Shop {
	width: 275px;
	margin: 65%;
	padding-top: 10px;
}