/* Main Area */
body {
  background-image: url("../img/bg.png");
  font-family:"Courier New", Courier, Monaco;
}
/* ID */
#footerTag {
  width: 100%;
  font-size: 15px;
  bottom: 0;
}

#logo {
  width:320px;
  display: block;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}
/* Class */
.about {
  font-size: 4vw;
  border: 1px solid black;
  margin-left: 25%;
  margin-right: 25%;
  padding: 5px;
}

.bottomIMG {
  width: 250px;
}

.center {
	text-align: center;
	padding-bottom: 20px;
}
ul.nav {
	display: inline-block;
	padding-top: 20px;
}

.shop {
	width: 275px;
  height: 310px;
	padding-top: 25px;
  padding-bottom: 10px;
}

.nav-pills > li.active > a {
	background-color: #FFBDD7;
}

.nav-pills > li.active > a:hover {
  background-color: #FF9D97
}

/* Thumbnail Animations */
figure {
  width: 400px;
  height: 300px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  vertical-align: top;
  border: 5px solid #fff;
  box-shadow: 0 0 5px #ddd;
  margin: 1em;
}

figcaption {
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  text-align: center;
  font-weight: bold;
  width: 100%;
  height: 100%;
  display: table;
}

figcaption div {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  top: 20px;
  opacity: 0;
  color: #2c3e50;
  text-transform: uppercase;
}

figcaption div:after {
  position: absolute;
  content: "";
  left: 0; right: 0;
  bottom: 40%;
  text-align: center;
  margin: auto;
  width: 0%;
  height: 2px;
  background: #2c3e50;
}

figure img {
  -webkit-transition: all 0.5s linear;
          transition: all 0.5s linear;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}

figure:hover figcaption {
 background: rgba(255,255,255,0.3);
}

figcaption:hover div {
  opacity: 1;
  top: 0;
}

figcaption:hover div:after{
  width: 50%;
}

figure:hover img {
  -webkit-transform: scale3d(1.2, 1.2, 1);
          transform: scale3d(1.2, 1.2, 1);
}
/*font-face*/
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Hairline'), local('Lato-Hairline'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/boeCNmOCCh-EWFLSfVffDg.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/KT3KS9Aol4WfR6Vas8kNcg.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/wkfQbvfT_02e2IWO3yYueQ.woff) format('woff');
}

@media (min-width: 768px) {
  .about {
    font-size: 3.5vw;
  }
}

@media (min-width: 992px) {
  .about {
    font-size: 2.5vw;
  }
}